body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    /* font-family: arial, sans-serif; */
    background-color: #f3f3f3;
}

h2 {
    font-weight: bold;
}

main {
    background-color: #f3f3f3;
}

.header {
    width: 100%;
    /* border-bottom: 1px solid #ccc; */
    background-color: white;
}

.container {
    max-width: 980px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-align-center {
    align-items: center;
}

.input {
    padding: 8px;
    border: 1px solid rgb(237, 239, 241);
    border-radius: 4px;
    background-color: rgb(246, 247, 248);
    color: rgb(135, 138, 140);
    width: 50%;
}

.input:focus, .input:active, .input:hover, .input:focus-within {
    border-color: #b71c1c;
    transition: 0.3s;
}

.ranking {
    font-size: 24px;
}

.pr-3 {
    padding-right: 16px;
}

.pr-2 {
    padding-right: 12px;
}

.pr-1 {
    padding-right: 8px;
}

.btn {
    display: inline-block;
    margin: 0;
    padding: 10px 15px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    background-repeat: repeat-x;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.25), 0 1px 2px rgba(0,0,0,0.05);
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #ed1c24;
    background-image: -moz-linear-gradient(rgb(245, 90, 70), #ed1c24);
    background-image: -webkit-linear-gradient(rgb(245, 90, 70), #ed1c24);
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='rgb(245, 90, 70)', endColorstr='rgb(199, 27, 5)')";
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='rgb(245, 90, 70)', endColorstr='rgb(199, 27, 5)')";
    border-color: rgb(199, 27, 5);
}

.btn:hover {
    text-decoration: none;
    background-position: 0 -35px;
}

.btn:active {
    border-color: rgb(153, 22, 2);
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.2), 0 1px 2px rgba(0,0,0,0.05);
}

.authentication li:first-child {
    margin-right: 8px;
}

.hidden {
    display: none;
}

.logo img {
    height: 48px;
    vertical-align: middle;
}

.logo-letras {
    border: none !important;
    width: 200px !important;
    border-radius: 0 !important;
}

.profile-icon img {
    width: 48px;
    border-radius: 50%;
    /* border: 2px dashed #b71c1c; */
    vertical-align: middle;
    padding: 3px;
}

.nav-link:hover {
    color: #b71c1c;
    transition: 0.3s;
}

.week-news-container {
    margin: 16px 0;
}

.week-news-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background-color: white;
    border-radius: 4px;
    /* border-top: 1px solid #ccc; */
}

.score {
    font-weight: bold;
    color: white;
    padding: 12px;
    border-radius: 4px;
    margin-left: auto;
}

.score.green {
    background-color: #4db53c;
}

.score.orange {
    background-color: #e08833;
}

.score.red {
    background-color: #b71c1c;
}

.score-float {
    position: absolute;
    top: 3%;
    right: 3%;
    z-index: 10;
}

.week-news-item {
    max-width: 225px;
    position: relative;
    /* padding-bottom: 10px; */
    /* border-bottom: 1px solid #ccc; */
}

.week-news-item img {
    width: 225px;
    height: 225px;
}

.week-news-item h3 {
    padding: 10px 0;
    font-weight: bold;
    text-transform: uppercase;
}

.week-news-item p {
    font-size: 12px;
}

.upper-case {
    text-transform: uppercase;
}

.releases-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 24px;
}

.last-releases {
    width: 74.99%;
    margin-right: 64px;
    background-color: white;
    padding: 8px;
    border-radius: 4px;
}

.last-releases h2, .next-releases h2 {
    margin: 8px 0;
}

.last-releases-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
    margin-right: 8px;
}

.last-releases-item:last-child {
    margin-bottom: 0;
}

.last-releases-item img {
    width: 110px;
    height: 110px;
}

.last-releases-item-data {
    margin-bottom: auto;
    padding: 16px;
}

.last-releases-item-data h3 {
    font-weight: bold;
    margin-bottom: 4px;
    font-size: 1.15em;
}

.info-list {
    color: rgb(91, 91, 91);
    font-size: 0.85em;
}

.info-list a:hover {
    transition: 0.3s;
    text-decoration: underline;
}

.info-list li:first-child {
    margin-bottom: 4px;
}

.next-releases .last-releases-item img {
    width: 90px;
    height: 90px;
    margin-left: auto;
}

.next-releases .last-releases-item-data {
    padding: 0;
    margin-right: 12px;
}

.next-releases .last-releases-item-data h3 {
    font-size: 1em;
}

.next-releases .last-releases-item-data p {
    font-size: 0.8em;
}

.tag {
    font-size: 0.6em;
    background-color: #b71c1c;
    padding: 3px 5px;
    color: white;
    border-radius: 2px;
    margin-right: 3px;
    text-align: center;
}

.pc {
    background-color: #4b5ad7;
}

.xbox-one {
    background-color: #529c32;
}

.ps4 {
    background-color: #634a73;
}

.tag-list {
    margin-bottom: 4px;
}

.tag-list ul {
    flex-wrap: wrap;
}

.time {
    font-size: 0.8em;
    color: rgb(91, 91, 91);
    margin-left: 16px;
}

.time i {
    margin-right: 4px;
    margin-bottom: 1px;
}

.next-releases {
    width: 24.99%;
}

.last-releases-item > .c100 {
    margin-right: 0;
    margin-left: auto;
}

footer {
    border-top: 1px solid #ccc;
    margin-top: 16px;
}

footer .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

footer img {
    width: 120px;
}

.social-icons-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #b71c1c;
    font-size: 1.4em;
}

.social-icon-item {
    margin-right: 4px;
}

.copyright-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    color: rgb(91, 91, 91);
}

.copyright-section p {
    margin-left: 16px;
}