body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    /* font-family: arial, sans-serif; */
    background-color: #DAE0E6;
}

h2 {
    font-weight: bold;
}

main {
    background-color: #DAE0E6;
}

.header {
    width: 100%;
    height: 48px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header .nav {
    position: relative;
    width: 100%;
}

.container {
    max-width: 980px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-align-center {
    align-items: center;
}

.input {
    padding: 8px;
    border: 1px solid rgb(237, 239, 241);
    border-radius: 4px;
    background-color: rgb(246, 247, 248);
    color: rgb(135, 138, 140);
    width: 980px;
    max-width: 980px;
    margin: 0 auto;
    
}

.input input {
    width: 100%;
}

.input:focus, .input:active, .input:hover, .input:focus-within {
    border-color: #b71c1c;
    transition: 0.3s;
}

.right-side-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 8px;
    top: 0;
    height: 48px;
}

.ranking-wrapper {
    margin-right: 0;
    padding: 0px 12px;
    border-right: 1px solid #f3f3f3;
    display: flex;
    position: relative;
}

.ranking {
    font-size: 16px;
    padding: 8px;
    border-radius: 2px;
}

.ranking-span {
    display: none;
    font-size: 12px;
    position: absolute;
    color: white;
    background: black;
    padding: 5px 8px;
    border-radius: 4px;
    bottom: -30px;
    right: 0;
    z-index: 5;
}

.ranking-span::before {
    content: '▴';
    position: absolute;
    top: -13.2px;
    right: 21px;
    color: black;
    font-size: 18px;
}

.ranking:hover {
    background-color: rgba(26, 26, 27, 0.1);
    transition: 0.3s;
}

.ranking:hover ~ .ranking-span {
    display: block;
}

.pr-3 {
    padding-right: 16px;
}

.pr-2 {
    padding-right: 12px;
}

.pr-1 {
    padding-right: 8px;
}

.btn {
    display: inline-block;
    margin: 0;
    padding: 10px 15px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    /* background-repeat: repeat-x; */
    border: 1px solid;
    border-radius: 4px;
    /* box-shadow: inset 0 1px 1px rgba(255,255,255,0.25), 0 1px 2px rgba(0,0,0,0.05); */
    cursor: pointer;
    font-size: 12px;
    color: #fff;
    /* text-shadow: 0 -1px 0 rgba(0,0,0,0.25); */
    background-color: #ed1c24;
    /* background-image: -moz-linear-gradient(rgb(245, 90, 70), #ed1c24);
    background-image: -webkit-linear-gradient(rgb(245, 90, 70), #ed1c24);
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='rgb(245, 90, 70)', endColorstr='rgb(199, 27, 5)')";
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='rgb(245, 90, 70)', endColorstr='rgb(199, 27, 5)')"; */
    /* border-color: rgb(199, 27, 5); */
    border-color: #ed1c24;
    text-transform: uppercase;
}

.btn.sign-in {
    background: white;
    color: #ed1c24;
}

.btn:hover {
    /* filter: brightness(1.2); */
    filter: opacity(0.8);
    transition: 0.3s;
}

/* .btn:active {
    border-color: rgb(153, 22, 2);
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.2), 0 1px 2px rgba(0,0,0,0.05);
} */

.authentication {
    padding-left: 8px;
}

.authentication li:first-child {
    margin-right: 8px;
}

.hidden {
    display: none;
}

.logo {
    position: absolute;
    left: 0;
    top: 0;
}

.logo img {
    height: 48px;
    vertical-align: middle;
}

.profile-icon img {
    width: 48px;
    border-radius: 50%;
    /* border: 2px dashed #b71c1c; */
    vertical-align: middle;
    padding: 3px;
}

.nav-link:hover {
    color: #b71c1c;
    transition: 0.3s;
}

.week-news-container {
    margin: 16px 0;
}

.week-news-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background-color: white;
    border-radius: 4px;
    /* border-top: 1px solid #ccc; */
}

.score {
    font-weight: bold;
    color: white;
    padding: 12px;
    border-radius: 4px;
    margin-left: auto;
}

.score.green {
    background-color: #4db53c;
}

.score.orange {
    background-color: #e08833;
}

.score.red {
    background-color: #b71c1c;
}

.score-float {
    position: absolute;
    bottom: 27.5%;
    right: 3%;
    z-index: 10;
}

.week-news-item {
    max-width: 225px;
    position: relative;
    /* padding-bottom: 10px; */
    /* border-bottom: 1px solid #ccc; */
}

.week-news-item .img {
    width: 225px;
    height: 225px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.week-news-item h3 {
    padding: 10px 0;
    font-weight: bold;
}

.week-news-item p {
    font-size: 12px;
}

.upper-case {
    text-transform: uppercase;
}

.content-wrapper-1, .content-wrapper-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px;
}

.content-wrapper-1 .releases-container {
    width: 49.99%;
    margin-right: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.content-wrapper-2 .releases-container {
    width: 64.99%;
    margin-right: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.last-releases, .next-releases {
    width: 100%;
    background-color: white;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 16px;
}

.last-releases h2, .next-releases h2 {
    margin: 8px 0;
}

.last-releases-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 8px;
    padding: 8px 0;
    border-top: 1px solid #f3f3f3;
}

.last-releases-item:last-child {
    margin-bottom: 0;
}

.last-releases-item .img {
    width: 75px;
    height: 75px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-wrapper-2.rankings-page .last-releases-item:first-child {
    border-top: none;
    padding-top: 0;
}

.content-wrapper-2.rankings-page .last-releases-item .img {
    width: 75px;
    height: 75px;
}

.content-wrapper-2 .last-releases-item .img {
    width: 60px;
    height: 60px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.img {
    width: 60px;
    height: 60px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
 }

.last-releases-item-data {
    padding: 0 8px;
}

.last-releases-item-data h3 {
    font-weight: bold;
    margin-bottom: 4px;
    font-size: 16px;
}

.last-releases-item-data p {
    font-size: 12px;
    margin-top: 4px;
    max-width: 92%;
}

.read-more {
    color: grey;
    font-weight: bold;
    font-size: 12px;
}

.info-list {
    color: rgb(91, 91, 91);
    font-size: 12px;
}

.info-list a:hover {
    transition: 0.3s;
    text-decoration: underline;
}

.info-list li:first-child {
    margin-bottom: 4px;
}

.next-releases .last-releases-item img {
    width: 90px;
    height: 90px;
    margin-left: auto;
}

.next-releases .last-releases-item-data {
    padding: 0;
    margin-right: 12px;
}

.next-releases .last-releases-item-data h3 {
    font-size: 16px;
}

.next-releases .last-releases-item-data p {
    font-size: 12px;
}

.tag {
    font-size: 0.6em;
    background-color: #b71c1c;
    padding: 3px 5px;
    color: white;
    border-radius: 2px;
    margin-right: 3px;
    text-align: center;
}

.pc {
    background-color: #4b5ad7;
}

.xbox-one {
    background-color: #529c32;
}

.ps4 {
    background-color: #634a73;
}

.nsw {
    background-color: #b71c1c;
}

.tag-list {
    margin-bottom: 4px;
}

.tag-list ul {
    flex-wrap: wrap;
}

.time {
    font-size: 0.8em;
    color: rgb(91, 91, 91);
    margin-left: 16px;
}

.time i {
    margin-right: 4px;
    margin-bottom: 1px;
}

.content-wrapper-1 .right-column {
    width: 49.99%;
}

.content-wrapper-2 .right-column {
    width: 34.99%;
}

.platform-info {
    background-color: white;
    border-radius: 4px;
}

.platform-info img {
    max-width: 100%;
    border-radius: 4px 4px 0 0;
}

.platform-info p {
    font-size: 12px;
    padding: 12px;
}

.platform-info p:last-child {
    padding-top: 0;
}

.last-releases-item > .c100 {
    margin-right: 0;
    margin-left: auto;
}

footer {
    margin-top: 16px;
    background: white;
}

footer .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

footer img {
    height: 42px;
}

.social-icons-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #b71c1c;
}

.social-icon {
    margin-right: 4px;
    font-size: 16px;
    padding: 8px;
    border-radius: 2px;
}

.social-icon:hover {
    background-color: rgba(26, 26, 27, 0.1);
    transition: 0.3s;
}

.copyright-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    color: rgb(91, 91, 91);
}

.copyright-section p {
    margin-left: 16px;
}

.patreon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    margin-top: 16px;
}

.patreon img {
    height: 84px;
    border-radius: 4px 0 0 4px;
}

.patreon-data {
    margin-left: 8px;
    margin-right: 8px;
}

.patreon h3 {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 4px;
}

.patreon p {
    font-size: 11px;
}

.patreon button {
    margin-right: 8px;
}

.red-text {
    color: #b71c1c;
    font-weight: bold;
    font-size: 14px;
}

.last-releases-3 {
    position: relative;
}

.last-releases-3 .btn {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 6px 8px;
}

.last-releases-2 .score, .last-releases-3 .score {
    align-self: flex-end;
}

.last-releases-2 .last-releases-item-data, .last-releases-3 .last-releases-item-data {
    padding-left: 0;
}

.last-releases-3 .score {
    border-radius: 50%;
    padding: 12px 16px;
}

.technical-card-data .img {
    height: 215px;
    width: 26.99%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.technical-card-data {
    border-top: 1px solid #f3f3f3;
    padding: 8px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.technical-card-data-content {
    padding-left: 16px;
    padding-right: 8px;
    width: 72.99%;
}

.technical-card-data-content .tag-list {
    margin-bottom: 16px;
}

.technical-card-data-content .data-list {
    font-size: 14px;
    font-weight: bold;
}

.technical-card-data-content .data-list a, .technical-card-data-content .data-list-item:last-child {
    font-weight: normal;
}

.technical-card-data-content .data-list a:hover {
    text-decoration: underline;
}

.technical-card-data-content .social-icons-list {
    margin-top: 16px;
    justify-content: flex-start;
}

.technical-card-data-content .social-icon-item {
    margin-right: 4px;
    display: flex;
    position: relative;
}

.technical-card-data-content .social-icon-item:last-child {
    margin-right: 0;
}

.technical-card-description {
    border-top: 1px solid #f3f3f3;
}

.technical-card-description p {
    font-size: 14px;
    margin-top: 8px;
    padding-right: 8px;
}

.technical-card-data-content .sub-text {
    display: none;
    font-size: 12px;
    position: absolute;
    color: white;
    background: black;
    padding: 5px 8px;
    border-radius: 4px;
    bottom: -57px;
    right: -8px;
    z-index: 5;
    text-align: center;
}

.technical-card-data-content .sub-text-2 {
    bottom: -44px; 
}

.technical-card-data-content .sub-text::before {
    content: '▴';
    position: absolute;
    top: -13.2px;
    right: 21px;
    color: black;
    font-size: 18px;
}

.technical-card-data-content .social-icon:hover ~ .sub-text {
    display: block;
}

.technical-card-score .score {
    display: block;
    padding: 16px;
    font-size: 48px;
    margin-left: auto;
}

.technical-card-score {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.technical-card-score .section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.section {
    padding: 12px 0;
    border-bottom: 1px solid #f3f3f3;
}

.section:first-child {
    padding-top: 0;
}

.section-2 {
    flex-direction: column !important;
    align-items: flex-start !important;
}

.section-2 .score {
    border-radius: 50%;
    padding: 12px 8px;
    font-size: 32px;
    align-self: flex-start;
}

.section-2 .subsection {
    margin-top: 4px !important;
}

.subsection {
    align-self: flex-start;
    margin-top: 4px;
}

.subsection .info-list {
    font-weight: bold;
    font-size: 14px;
    color: black;
    margin-bottom: 4px;
}

.subsection .info-list li {
    margin: 0;
}

.subsection p {
    font-size: 14px;
}

.width-100 {
    width: 100%;
}

.section-2 div:last-child {
    margin-top: 12px;
    justify-content: center;
    align-items: center;
}

.select-css {
    display: block;
    font-size: 16px;
    color: black;
    padding: 4px 6px 4px 6px;
    box-sizing: border-box;
    position: relative;
    border: 1px solid #333;
    border-radius: 4px;
}

.section:last-child {
    border-bottom: none;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
}

.technical-card-score .btn {
    padding: 6px 8px;
}

.rankings-column h3 {
    padding: 8px 0;
    font-weight: bold;
    border-bottom: 1px solid #f3f3f3;
    margin-bottom: 8px;
}

.rankings-column .section {
    border-bottom: none;
}

.rankings-column .section:last-child {
    padding-top: 0;
}

.rankings-column select {
    margin-bottom: 8px;
}

.rankings-column select:last-child {
    margin-bottom: 0;
}
